<div class="center-container">
  <mat-card class="product-card">
    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="10"
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Price</mat-label>
        <input
          matInput
          placeholder="Price"
          formControlName="price"
          type="number"
        />
      </mat-form-field>
      <div class="buttons-container">
        <button mat-raised-button class="action-button" color="primary" type="submit">Save</button>
        <button mat-raised-button class="action-button" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </mat-card>
</div>
<div *ngIf="loading">
  <p>Loading...</p>
</div>
